@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


body {

    min-height: 100vh;

    background: linear-gradient(#01022d, #000);

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

}


/* ===== Container ===== */

.container {

    width: 100%;

    max-width: 1200px;

    min-height: 650px;

    padding: 30px;

    border-radius: 15px;

    overflow: hidden;


    background:

    linear-gradient(
        to right,
        rgba(1,2,45,.9),
        rgba(0,0,0,.5)
    ),

    url(download.png);


    background-size: cover;

    background-position: center;

    transition: .5s;

}



.container:hover {

    background:

    linear-gradient(
        to right,
        rgba(1,2,45,.7),
        transparent
    ),

    url(download.png);

    background-size: cover;

}



/* ===== Header ===== */


header {

    display: flex;

    justify-content: space-between;

    align-items: center;

}


.logo {

    color: white;

    text-decoration: none;

    font-size: clamp(28px,5vw,45px);

    text-transform: uppercase;

    font-weight: bold;

}



ul {

    list-style: none;

    display: flex;

    gap: 25px;

}


ul a {

    color: white;

    text-decoration: none;

    font-size: 18px;

    transition: .3s;

}


ul a:hover {

    color: #00aaff;

}



/* ===== Content ===== */


.content {

    color: white;

    margin-top: 120px;

    max-width: 600px;

}



.content h2 {

    font-size: clamp(35px,6vw,60px);

    text-transform: uppercase;

}



.content p {

    margin-top: 20px;

    max-width: 500px;

    line-height: 1.8;

    color: #ddd;

    font-size: 18px;

}



button {

    margin-top: 30px;

    padding: 14px 45px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-size: 17px;

    transition: .3s;

}



button:hover {

    background: transparent;

    color: white;

    border: 2px solid white;

}



/* ===== Tablet ===== */


@media(max-width:768px){


    body {

        padding: 10px;

    }


    .container {

        min-height: 700px;

        padding: 20px;

    }


    header {

        flex-direction: column;

        gap: 30px;

    }


    ul {

        flex-wrap: wrap;

        justify-content: center;

        gap: 15px;

    }


    .content {

        margin-top: 80px;

        text-align: center;

        margin-left: auto;

        margin-right: auto;

    }


    .content p {

        margin: 20px auto;

    }

}



/* ===== Mobile ===== */


@media(max-width:480px){


    .container {

        min-height: 750px;

    }


    ul {

        flex-direction: column;

        text-align: center;

    }


    .content h2 {

        font-size: 40px;

    }


    .content p {

        font-size: 15px;

    }


    button {

        width: 100%;

    }

}
